.navigator {
  border-bottom: solid black 1px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "bnb middle menu";
}

.bnb {
  grid-area: bnb;
  margin: auto;
  font-size: 40px;
  text-decoration: none;
}

.menu {
  grid-area: menu;
  display: flex;
  justify-content: right;
  margin-right: 100px;
  font-size: 30px;

}
.menu2 {
  justify-content: right;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.login{
  border-radius: 10px;
  padding: 20px;
}
